.App {
  text-align: center;
}

.add_product {
  border-top: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

li {
  list-style: none;
}

.delete_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.delete_section_btn {
  width: fit-content;
  align-self: center;
}
