.navbar_container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

menu {
  min-width: 60em;
  display: flex;
  justify-content: left;
  margin-right: 1em;
  font-size: 1.2em;
}

menu a {
  text-decoration: none;
  color: azure;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  margin: 0em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 1.6em;
  border-radius: 0.2em;
}

p {
  font-size: 1.2em;
}

p span {
  font-weight: 900;
  color: azure;
  text-transform: uppercase;
}

.active {
  background-color: rgb(81, 21, 138);
}
